.footer {
  padding: 60px 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.footer__copyright {
  font-size: 16px;
  line-height: 1px;
  font-weight: 400px;
  color: #212121b2;
  margin: 0 auto;
  text-align: center;
}
