.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  width: 40px;
  height: 40px;
  opacity: 40%;
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  position: absolute;
  right: 50px;
  background-color: #fff;
  background-image: url(../images/xicon.svg);
}

.modal__title {
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  height: 32px;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: none;
  width: 100%;
  background-color: #212121;
  width: 156px;
  height: 52px;
  border-radius: 8px;
  color: #fcf5e5;
}
